body {
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    /*font-family:'Assistant';*/
    /*font-family: 'Slabo 27px', serif;*/
}

a {
    color: white;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

#link {
	color: blue
}

.coverImage {
    background-image: url('electric-grid.jpg'); /*mexicos-electric-power-system-case_wap.jpg*/
    /*background-color: #FDB515; */
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.overlay {
    width: 35%;
    background-color:rgba(0,0,0,0.7);
    border-radius: 10px;
    font-color: #3B7EA1;
    align-self: center;
    margin: auto;
}

.coverTitle {
    text-align: center;
    color: #eee;
    font-size: 32pt;
    letter-spacing: 0px;
    margin-bottom: 0;
    padding-top: 2%;
    font-weight: bolder;
}

.coverCaption {
    text-align: center;
    color: #ffd100;
    font-size: 25px;
    letter-spacing: 0px;
    padding: 1% 10%;
}

#coverBtn {
    background-color: #0000ff; /*  0099cc */
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    margin-bottom: 40px;
    border-radius: 10px;
    letter-spacing: 1px;
    border: none;
    align-content: center;
    cursor: pointer;
}

.picCredit {
    color: white;
    text-align: right;
    font-size: x-small;
    align-self: flex-end;
}

#container {
    width: 100%;
    height: 60px;
    background-color: #262680; /* rgb(43, 41, 41) this is where to adjust the top bar color */
    position: fixed;
    top: 0;
    z-index: 99;
}

.toggleBars {
  color: #fff;
  font-size: 30px;
  display: none;
  padding: 0px 5px;
  margin: 5px;
}

.topBar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 8px;
}


.topBar li {
    margin: 0 20px;
    color: #1919ffff;
    font-size: 20px;
}

#background {
    height: auto;
    background-color: white ; /* #d9d9d9 */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*margin-top: -10px;*/
    margin-top: -30px;
    padding-bottom: 40px;

}

.introTitle {
    color: #0000ff; /* #0099cc*/
    font-size: 35px;
    padding: 30px;
    padding-top: 4%;
    /*padding-top: 6%;*/
    padding-bottom: 0;
}

.introGrab {
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #595959;
    line-height: 30px;
    font-size: 24pt;
}

.introDetails {
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding-bottom: 2%;
    color: #595959;
    line-height: 30px;
    font-size: 14pt;

}


/* Approach styles*/

#approach,#model {
    height: auto;
    background-color:#0000B3 ; /* #004d66 #000080 #0000CC #262680 */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -3%;
}

.approachTitle {
    color: #ffd100; /*  #FDB515   */ 
    font-size: 35px;
    padding: 30px;
    padding-top: 4%;
    /*padding-top: 6%;*/
    padding-bottom: 0;
}

.approachTitle2 {
    margin:0 auto;
    width: 80%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #ffd100; /*  #FDB515 */
    font-size: 22pt;
    line-height:30px;

}

.approachTitle3 {
    margin:0 auto;
    width: 80%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #ffd100; /*  #FDB515 */
    font-size: 14pt;
    line-height:30px;

}

#approachContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.approachDivs {
    margin: 3%;
    margin-bottom: 5%;
    width: 450px;
    /*width: 350px;*/
    height: auto;
    color: #4d4d4d;
    background-color: #e6e6e6;
    /* border: 1px solid #e6e6e6; */
    border-radius: 8px;
    /* box-shadow: 2px 3px #f2f2f2; */
}

.approachDivs h3 {
    text-align: center;
    text-decoration: none
}

.approachDivs p {
    margin: 5%
}

.approachDivs hr {
    width: 70%;
    height: 2px;
    background-color: #0099cc;
    border: none;
}

/* Model Styles */



#model a {
    color: #004d66;
    text-decoration: underline;
}

.modelDetails {
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding-bottom: 2%;
    color: #595959;
    line-height: 30px;
    font-size: 14pt;

}
/* Demo styles*/

#testimonials {
    height: auto;
    background-color: #0000B3 ;  /* #004d66 */
    margin-top: -30px;
    height: 550px;
}

/* .demoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto
} */

.demoP {
    text-align: center;
    font-family: 'Assistant';
    /*font-family: 'Playfair Display', serif;*/
    font-size: 22px;
    font-style: italic;
    /* display: flex; */
    color: #fff;
    height: 250px;
    width: 80%;
    padding: 2% 0% 5% 20%;
}

.cust-icon {
  /* font-family: 'Vidaloka', serif; */
  font-family: 'Great Vibes', cursive;
  font-size: 20rem;
  font-style: italic;
  color: #0086b3;
  padding-left: 13%;
  margin-bottom: -20%;
}

.carousel-indicators {
  /* position: absolute; */
  /* top: 25%; */
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none
}

.cust-control {
  background:None !important;
}

/* .demoButton {
    background-color: #009999;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 22px;
    padding: 12px 18px;
    margin-bottom: 90px;
    align-self: center;
    cursor: pointer;
} */

/* Helpout Styles */

#helpout {
    padding-bottom: 40px;
}

#helpout a {
    color: #004d66;
    text-decoration: underline;
}

/* Team styles*/

#team {
    background-color: white;  /* #999999 */
    margin-top: -40px;
    height: auto;
    padding-bottom: 5%;
}

#teamContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.teamHeader {
	text-align: center;
    color: #ffd100; /* 595959*/
    font-size: 24pt;
}

.tMateContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 15px
}

.teamPics {
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 5rem;
}

.picOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

.tMateContainer:hover .picOverlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.name {
    align-self: center;
    color: #FFFFFF;
}


/* Footer styles*/

#footer {
    width: 100%;
    height: 7vh;
    background-color: rgb(43,41,41);
    margin-top: -11px;
}

#footer p {
    text-align: center;
    color: white;
    padding-top:25px;
    font-size: 10pt;
    margin: 0px;
}

/* Map Page Styles */
.sideHeader {
    list-style-type: none;
    margin: 0;
    margin-top: 60px;
    padding: 0;
    width: 20%;
    background-color: #999999;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#map {
    margin-left: 19%;
    padding: 1px 16px;
    height: 1000px;
}




/* Responsive styles for smaller screens */

@media only screen and (max-width: 600px) {
  .topBar {
    flex-direction: column;
    display:none;
    background-color: rgb(43, 41, 41);
    height: 380px;
    line-height: 2.5;
  }
  .active {
    display: flex;
   }

  .toggleBars {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .overlay {
    width: 75%;
  }
  .coverCaption {
    font-size: 20px;
  }
  .picCredit {
    text-align: center;
  }
  #approach {
    margin-top: -6%;
  }
  #approachContainer {
    flex-direction: column;
  }
  .approachDivs {
    align-self: center;
    width: 90%;
  }
  #testimonials {
    height:auto;
  }
  .cust-icon {
    padding-left: 0;
    margin-bottom: -60%;
  }
  .demoP {
    height: auto;
  }
  #footer {
    height: 11vh;
  }
  #footer p {
    font-size: 8pt;
  }
}

/* Styles for iPad */
@media only screen
  and (min-width: 768px) and (max-width: 1040px) and (-webkit-min-device-pixel-ratio: 2) {
    .topBar {
      flex-direction: column;
      display:none;
      background-color: rgb(43, 41, 41);
      height: 380px;
      line-height: 2.5;
    }
    .active {
      display: flex;
     }

    .toggleBars {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
    }

    .overlay {
      width: 55%;
      left: 22%;
    }
    .demoP {
      font-size: 26px
    }
    .carousel-indicators {
      top:99%;
    }
    .cust-icon {
      margin-bottom: -30%
    }
}

/* Styles for iPad pro */
@media only screen
  and (min-width: 1024px)
  and (max-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .cust-icon {
      margin-bottom: -20%
    }
}